# [作業目標]

1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```


2. 一個包含兩個欄位的 DataFrame，將每個數字減去

```
* 1) 該欄位的平均數
* 2) 該筆資料平均數
```

3. 承上題，請問：

```
* 1) 哪一比的資料總合最小
* 2) 哪一欄位的資料總合最小
```

# 作業

### 1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```

In [1]:
# 記得先 Import 正確的套件
import pandas as pd
import numpy as np

In [2]:
data = {
    'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [6]:
# 計算每個不同種類 animal 的 age 的平均數
df_age = set(df['animal'])
for i in df_age:
    print(f"{i}的age平均數",df[df['animal']==i]['age'].mean())

cat的age平均數 2.5
dog的age平均數 5.0
snake的age平均數 2.5

In [11]:
# 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
df.sort_values(by=['age','visits'],ascending = [True,False])

  animal  age  visits priority
c  snake  0.5       2       no
f    cat  2.0       3       no
a    cat  2.5       1      yes
b    cat  3.0       3      yes
j    dog  3.0       1       no
g  snake  4.5       1       no
e    dog  5.0       2       no
i    dog  7.0       2       no
d    dog  NaN       3      yes
h    cat  NaN       1      yes

In [20]:
# 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
df['priority'] = df['priority'].str.replace('yes','True')
df['priority'] = df['priority'].str.replace('no','False')
df

  animal  age  visits priority
a    cat  2.5       1     True
b    cat  3.0       3     True
c  snake  0.5       2    False
d    dog  NaN       3     True
e    dog  5.0       2    False
f    cat  2.0       3    False
g  snake  4.5       1    False
h    cat  NaN       1     True
i    dog  7.0       2    False
j    dog  3.0       1    False

### 2. 一個包含兩個欄位的 DataFrame，將每個數字減去

* 1) 該欄位的平均數
* 2) 該筆資料平均數

In [36]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
df

          0         1         2
0  0.594279  0.882564  0.188007
1  0.933776  0.994000  0.733710
2  0.981300  0.755941  0.377735
3  0.681642  0.155691  0.696697
4  0.549929  0.600740  0.772555

In [37]:
# 該欄位的平均數
df_col = df - df.mean()
df_col

          0         1         2
0 -0.153906  0.204776 -0.365734
1  0.185591  0.316213  0.179969
2  0.233115  0.078154 -0.176006
3 -0.066543 -0.522096  0.142956
4 -0.198256 -0.077047  0.218814

In [38]:
df.mean(axis=1)

0    0.554950
1    0.887162
2    0.704992
3    0.511343
4    0.641075
dtype: float64

In [39]:
# 該筆資料平均數
df.sub(df.mean(axis=1),axis=0)

          0         1         2
0  0.039329  0.327614 -0.366942
1  0.046614  0.106838 -0.153452
2  0.276308  0.050949 -0.327257
3  0.170299 -0.355652  0.185354
4 -0.091146 -0.040335  0.131481

### 3. 承上題，請問：

1) 哪一比的資料總合最小
2) 哪一欄位的資料總合最小

In [40]:
df

          0         1         2
0  0.594279  0.882564  0.188007
1  0.933776  0.994000  0.733710
2  0.981300  0.755941  0.377735
3  0.681642  0.155691  0.696697
4  0.549929  0.600740  0.772555

In [43]:
# 哪一筆的資料總合最小
df.sum(axis=0).idxmin()

2

In [44]:
# 哪一欄位的資料總合最小
df.sum(axis=1).idxmin()

3