# [作業目標]


1. 請接下列資料依照指定規則做合併：

```
- 依照 fruit 欄位做合併
- 依照 index 索引做合併
```

2. [簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？

3. [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。

# 作業

In [1]:
# 記得先 Import 正確的套件

import numpy as np
import pandas as pd

### 1. 請接下列資料依照指定規則做合併：

```
- 依照 fruit 欄位做合併
- 依照 index 索引做合併
```

In [4]:
df1 = pd.DataFrame({
    'fruit': ['apple', 'banana', 'orange'] * 3,
    'weight': ['high', 'medium', 'low'] * 3,
    'price': np.random.randint(0, 15, 9)
})

df2 = pd.DataFrame({
    'fruit': ['apple', 'orange', 'pine'] * 2,
    'weight': ['high', 'low'] * 3,
    'price': np.random.randint(0, 15, 6)
})
print(df1)
print(df2)

    fruit  weight  price
0   apple    high     12
1  banana  medium      0
2  orange     low      9
3   apple    high     13
4  banana  medium      2
5  orange     low      2
6   apple    high      1
7  banana  medium      2
8  orange     low     10
    fruit weight  price
0   apple   high     13
1  orange    low     12
2    pine   high      6
3   apple    low      2
4  orange   high      5
5    pine    low      8

In [5]:
# - 依照 fruit 欄位做合併
df3 = pd.merge(df1,df2,on='fruit')
df3

     fruit weight_x  price_x weight_y  price_y
0    apple     high       12     high       13
1    apple     high       12      low        2
2    apple     high       13     high       13
3    apple     high       13      low        2
4    apple     high        1     high       13
5    apple     high        1      low        2
6   orange      low        9      low       12
7   orange      low        9     high        5
8   orange      low        2      low       12
9   orange      low        2     high        5
10  orange      low       10      low       12
11  orange      low       10     high        5

In [6]:
# - 依照 index 索引做合併
df1.join(df2)

ValueError: columns overlap but no suffix specified: Index(['fruit', 'weight', 'price'], dtype='object')

### 2. [簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？

In [7]:
# 因為程式碼未輸入「how」，預設為 ="inner"表示交集，只會顯示兩df皆有的 Apple、Orange資料。

### 3. [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。

In [11]:
# 因為兩df有相同的column，所以無法正確合併。

In [9]:
df1.join(df2,lsuffix="_df1",rsuffix="_df2")

  fruit_df1 weight_df1  price_df1 fruit_df2 weight_df2  price_df2
0     apple       high         12     apple       high       13.0
1    banana     medium          0    orange        low       12.0
2    orange        low          9      pine       high        6.0
3     apple       high         13     apple        low        2.0
4    banana     medium          2    orange       high        5.0
5    orange        low          2      pine        low        8.0
6     apple       high          1       NaN        NaN        NaN
7    banana     medium          2       NaN        NaN        NaN
8    orange        low         10       NaN        NaN        NaN